.imageCard {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  height: 625px !important;
}

.imageCard > img {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  user-select: none;
}

.imageCard > h2 {
  padding: 5px 10px;
  user-select: none;
  overflow-wrap: break-word;
}

.imageCard > p {
  padding: 5px 10px;
  user-select: none;
}

.description {
  user-select: none;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.icon {
  position: absolute;
  right: 0;
  margin: 20px 20px 0px 0px;
  color: #ffffff;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
