.imageCard {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  max-height: 623px;
  min-height: 623px;
}

.imageCard > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  user-select: none;
}

.imageCard > h2 {
  padding: 5px 10px;
  user-select: none;
  overflow-wrap: break-word;
}

.imageCard > p {
  padding: 5px 10px;
  user-select: none;
}

.description {
  user-select: none;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.closeButton {
  position: fixed;
  right: 15px;
  top: 15px;
  color: white;
  cursor: pointer;
}
