.imageCard {
  background-color: grey;
  border-radius: 20px;
}

.imageCard > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  user-select: none;
}

.imageCard > h2 {
  padding: 5px 10px;
  user-select: none;
}

.imageCard > p {
  padding: 5px 10px;
  user-select: none;
}

.description {
  cursor: default;
  user-select: none;
  height: 125px;
  margin-bottom: 15px;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
