* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.title {
  margin: 30px;
}

.imageGallery {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 10px;
}